<div class="jumbotron">
  <h1>LibSys</h1>

  <p>Your online library</p>

  <p><a class="btn btn-primary btn-lg" href="https://github.com/ssweene2/RubyOnRailsProgram1-" role="button">Our Github
    Repo</a></p>
</div>